*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    background-color: #ecf0f1;
    scroll-behavior: smooth;
    transition: 1s;
}
.container{
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right:8%;
    box-sizing: border-box;
    overflow: hidden;
}
.logo>img{
    width:60px;
    height:60px;
    object-fit:fill;
}
.navigation{
    z-index: 5;
    padding: 10px 1%;
    display: flex;
    justify-content: space-between;
    width:100%;
    align-items: center;
    position: fixed;
    top:0;
    padding-left: 8%;
    padding-right:8%;
    box-sizing: border-box;
    border-bottom:2px solid #ecf0f1;
    /* background-color: #ef5777; */
}
hr{
visibility: hidden;
}
.rightnav{
    width:50%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.navigation>.rightnav>img{
   width: 50px;
   height:50px;
   object-fit: cover;
   display: none;
}
nav>ul{
    display: flex;
    flex-direction: row;
    list-style: none;
 }
 nav>ul>li{
     margin:0px 25px;
 }
 nav>ul>li>a{
     text-decoration: none;
     color: #34495e;
     text-transform: uppercase;
     transition: 0.5s;
     background: transparent;
 }
 nav>ul>li>a:hover{
    color:#2c3e50;
    font-size: x-large;
}
.row{
    margin: 85px 0 45px 0 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mrow{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}
.col1{
  flex-basis: 50%;
  position: relative;
  margin-left: 50px;;
}

.col1 h3{
    color: #2c3e50;
  font-size:xx-large;
  text-transform: uppercase;
}

.col1 h4{
    color: #34495e;
    font-size: x-large;
    font-weight:normal;
    margin: 10px 0 10px 0;
}

.col1 h5{
    color: #34495e;
    font-size: large;
    font-weight:lighter;
    margin: 10px 0 10px 40px;
}
button{
    padding: 12px 10px;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    outline: none;
    border: 0;
    color:#2c3e50;
    font-weight: 600;
    background:linear-gradient(to right,#ef5777,#ff3f34);
    cursor: pointer;
    /* background:linear-gradient(to right,#ff5e57,#ff3f34); */
    border-radius: 5px;
    transition: width 0.7s;

}
button>img{
    height: 30px;
    display: none;
    opacity: 0.7;
    background: none;
}
button:hover{
    width: 110px;
}
button:hover img{
  display: block;
}

.col1::before{
    content: '';
    width: 8px;
    height: 60%;
    top:40px;
    position: absolute;
    left: -40px;
    background:linear-gradient(#ef5777,#ff3f34);
   border-radius: 2px;
}


.col2{
    position: relative;
    flex-basis: 50%;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    transform: perspective(1000px);

}
.phone{
    width: 75%;
    transform: translateZ(20px);
}
.pods{
    width:30%;
    margin-left: 20%;
    transform: translateZ(20px);
}
.Watch{
    transform: translateZ(20px);
    width: 70%;
    margin-left: 10%;
}
.mac{
    transform: translateZ(20px);
    width: 90%;
    margin-left: -10%;
}
.ani>.box{
    animation-delay: 2s;
}
.ani2>.box{
    animation-delay: 3s;
}

.ani3>.box{
    animation-delay: 4s;
}


.box{
    animation-name: fall;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate; 
    animation-timing-function: linear;
    position: absolute;
    animation-delay: 1s;
    right:0;
    top: 0;
    /* background:linear-gradient(#ef5777,#ff3f34); */
    background:linear-gradient(rgb(219, 217, 217,.3),rgba(97, 92, 92,.8));
    border-radius: 50%;
    height: 15vh;
    width: 15vh;  
     box-shadow: 0px 2px 0px 0px rgba(97, 92, 92,.8);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    font-weight: 600;
    color:#2c3e50;
} 

@keyframes fall{
    0% {
        top:0px;
    }
    100%{
        top:200px;
    }
  }

footer{
   height:15vh;
   margin: 15px 0;
}
.foot{
    min-height: 12vh;
   display: flex;
   align-items: center;
   justify-content: center;
}
.foot>i{
    margin: 0px 20px;
    font-size: xx-large;
    color: #2c3e50;
    transition: 1.5s ease-out;
}
.foot>i:hover{
    transform: scale(1.2) rotate(360deg);
}

@media screen and (max-width: 700px) {
   .row{
       flex-direction: column-reverse;
       justify-content: space-evenly;
       margin: 75px 0 55px 0 ;
   }
   .box{
       display: none;
   }
   .phone{
       width: 100%;
   }
   .pods{
       width: 60%;
   }

   .Watch{
       width:80%;
   }
  .mac{
      width: 100%;
  }
  .navigation>.rightnav>img{
      display: block;
  }
  .col2{
      margin-top: 20px;
  }
  nav>ul{
      width: 100%;
      position: absolute;
      top: 85px;
      right: 0%;
      z-index: 2;
      margin-bottom: 50px;
      
  }
  #nav{
      overflow: hidden;
    background:linear-gradient(to right,#ef5777,#ff3f34);
  }
  .row{
      margin-top: 220px;
  }
  nav ul li{
      display: block;
      margin-top: 5px;
      margin-bottom: 5px;
  }
  nav>ul{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 10px;
    z-index: 2;
  }
  }